@charset "utf-8";

/* CSS Document */
body {
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}


a:hover{
    text-decoration: none !important;
}

.intro-section {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10vh;
  background-image: url("../assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

a.nav-link {
  font-family: myriad pro regular !important;
  color: #505050 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.logo {
  font-family: RoadTest;
  color: #000000;
  font-size: 22px;
}

.active {
  color: #2d2a2a;
  font-weight: bold;
}

.about--title{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.about--title span {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.about--title span::after{
    content: "";
    position: absolute;
    width: calc(100% - 16px);
    height: .25rem;
    border-radius: .25rem;
    bottom: 2px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: .25rem solid #505050;
}

.text-container p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
  line-height: 2rem;
}

.my--name {
  font-family: calibri;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}
.text-container p:nth-child(3) {
  font-family: myriad pro regular;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}

.text-container p {
  margin: 45px 0px 25px;
  line-height: 0px;
}
.text-container button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 10px 10px;
}

.text-container {
  margin-left: 10%;
  top: 42%;
  margin-bottom: 30px;
}

.hire-btn {
  border: 2px solid #373636;
  color: #373636;
  background-color: transparent;
  cursor: pointer;
}

.hire-btn:hover{
    color: #0d0d0d;
    background-color: #ddd;
    font-weight: bolder;
}

.down-cv {
  background-color: #0b0b0b;
  color: #eee;
  border: none;
  cursor: pointer;
}

.down-cv:hover{
  color: #fff;
  background-color: #0f0f0f;
  font-weight: bolder;
}

button:active {
  transform: scale(1.1);
}

.about-container {
  width: 80%;
  padding: 30px 0;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin: min(-50px, -7vh) auto 20px auto;
}

.about-text {
  width: 70%
}

.about--caption {
  color: #3e3d3d;
  font-family: myriad pro;
  font-weight: bold;
}

about-myself{
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}

.about-text p:nth-child(4) {
  color: #7e7d7d;
  font-family: calibri;
  font-size: 16px;
}
.about-text button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  font-family: calibri;
  background-color: #262525;
}


/*Services*/
.services {
  background-color: #ffffff;
  padding: 2%;
  margin: 10px 0 30px 0;
  counter-reset: my-work-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
}

.services .box{
    counter-increment: my-work-counter 1;
}

.services .box .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 1rem;
}


.servies--heading {
  font-family: calibri;
  font-weight: bold;
  color: #1d1c1c;
  font-size: 42px;
  /* line-height: 0px; */
}

.servies--caption {

  font-family: calibri;
  font-weight: bold;
  color: #3e3d3d;
  font-size: 15px;
}

.services--desc {
  font-family: calibri;
  color: #7e7d7d;
  width: 500px;
}


.services-text {
  margin: 50px 0px;
}

.box {

    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
    padding: 2rem 4px;
    border-radius: 5px;

    top: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    flex: 1 0 auto;
    height: 100%;

    width: 280px;
}

/*.box:hover{
    position: relative;
    top: -10px;
}*/

.my-work-carousel .owl-item:nth-child(3n) .box{
  background-image: url("/assets/images/services-1.png");
}

.my-work-carousel .owl-item:nth-child(3n+1) .box{
  background-image: url("/assets/images/services-2.png");
}

.my-work-carousel .owl-item:nth-child(3n+2) .box{
  background-image: url("/assets/images/servies-3.png");
}

.box:nth-child(3n){
    background-image: url("/assets/images/services-1.png");
}
.box:nth-child(3n+1){
    background-image: url("/assets/images/services-2.png");
}
.box:nth-child(3n+2){
    background-image: url("/assets/images/servies-3.png");
}

.box .logo{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  font-weight: bold;
  margin-bottom: 4px;
}

.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  font-weight: bold;
}

.box .heading{
  color: #ffffff;
  font-family: calibri;
  text-align: center;
  font-size: 23px;
}

.box .details{
    font-family: calibri;
    color: #8f8f8f;
    text-align: center;
    margin: 0 0 .5rem;
    flex-grow: 1;
    padding: 10px 20px;
    font-weight: 400;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
  color: #ffffff;
  font-family: calibri;
  font-size: 23px;
  line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
  font-family: calibri;
  color: #8f8f8f;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.box button {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.services .owl-nav, .services .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.owl-carousel .owl-stage {
    display: flex;
}


.services .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.services .owl-dot.active {
    background-color: #191919 !important;
}


/**/
.owl-carousel .owl-nav button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #191919 !important;
    border-radius: 50%;
    font-size: 20px !important;
    color: white !important;
    margin: 10px 10px 0 10px;
}

.owl-carousel .owl-nav button:focus {
    outline: 0 !important;
}


.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

/**/

.contact-me {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/images/project in your mind.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
  padding: 0 10px;
}

.contact-me p {
  color: #ffffff;
  font-size: 30px;
  font-family: calibri;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

.contact-me-btn {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}


@media screen and (max-width: 350px) {
    .down-cv{
        margin-top: 8px !important;
    }
}


@media screen and (max-width:576px){

    .my--name {
        font-size: 40px;
    }

    .text-container p {
        margin: 25px 0px 25px;
        line-height: 0px;
    }

    .box,
    .box-1,
    .box-2,
    .box-3 {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
    padding: .8rem 4px;
    }

    .services--desc{
        width: 100%;
    }

    .about-text{
        width: 100%;
        padding: 2px .75rem;
    }

    .about--title{
        margin-bottom: 16px;
    }

    .social a {
        width: 30px !important;
        height: 30px !important;
        margin: 0px;
        padding: 0px;
    }

    .social i{
        font-size: 12px !important;
    }
}

@media (min-width: 576.01px) and (max-width: 768px){

    .my--name {
        font-size: 48px;
    }

    .about-text{
        width: 100%;
        padding: 2px 1rem;
    }

    .about--title{
        margin-bottom: 16px;
    }
}

@media (min-width: 768.01px) and (max-width: 991.9px){

    .about--title{
        font-size: 28px;
    }

    .about-text{
        width: 85%;
    }
}

@media (min-width: 992px){
    .about-text{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .box{
        width: 90%;
        margin: 0 auto;
        max-width: 350px;
        height: 350px;
    }
}

@media (min-width: 600.01px) and (max-width: 1000px){
    .box{
        width: 95%;
        margin: 0 auto;
        max-width: 350px;
    }
}
